  
// font-family: 'PT Sans Caption', sans-serif;
//font-family: 'Roboto', sans-serif;
$color-A: #f3ae39;
$color-B: #e36d39;
$color-C: #b2342f;
$color-D: #8d8889;



header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: #eeeeee;
    z-index: 9;
    box-shadow: 1px 1px 2px #00000050;

    .top_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .head {
            display: flex;
            
            .logo {
                width: 150px;
                height: 60px;
                display: inline-block;
                margin: 5px;
                background: url(~src/assets/logo.png) no-repeat;
                background-size: contain;
            }

            .burger {
                display: none;
            }
        }

        nav {
            
            .main_menu {

                display: flex;
                flex-direction: row;

                & > li {

                }

                & > li > a {
                    display: inline-block;
                    font-family: 'Scada';
                    font-size: 1rem;
                    padding: 10px;
                    color: rgb(245, 66, 66);
                    text-transform: uppercase;
                }

                
            }

            .sub_menu {
                display: none;
            }
        }
    }
}
