

<header>
    <div class="container">
        
        <div class="top_block">
            <div class="head">

                <span class="logo"></span>

                <div class="burger">
                    <span></span>
                </div>
            </div>

            <nav>
                <ul class="main_menu">
                    <li>
                        <a href="">Каталог продукции</a>
                        <ul class="sub_menu">
                            <li>
                                <a>Потолочные карнизы</a>
                            </li>
                            <li>
                                <a>Карнизы с декоративной планкой</a>
                            </li>
                            <li>
                                <a>Потолочные карнизы</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact"> Контакты </a>
                    </li>
                    <li>
                        <a href="about"> О компании </a>
                    </li>
                    <li>
                        <a href="">Где купить</a>
                    </li>
                    <li>
                        <a href="">Партнерам</a>
                    </li>
                    <li>
                        <a href="">Покупателем</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>
</header>

