
<div class="container">
   <div class="main">
      <div class="title">
        <p>
            Потолочные пластиковые карнизы ЭКА <br>
            <span>
                - сочетание цены, качества и совершенства.
            </span>
           </p>
      </div>
   </div>

   <div class="cards">
      <div class="card">
        <div class="card_title">
           <h2>Title</h2>
        </div>
        
      </div>

   <div class="card">
      <div class="card_title">
         <h2>Title</h2>
      </div>
      
    </div>

 <div class="card">
   <div class="card_title">
      <h2>Title</h2>
   </div>
   
 </div>

</div>