

.main {
    position: relative;
    background: url(~src/assets/main_bg6.jpg) no-repeat;
    background-size: cover;
    width: auto;
    height: 550px;
}

.bg {
    position: relative;
    height: 550px;
}

.block {
    
    .block__title{
        font-size: 3rem;
    }

    .block__container{
        display: flex;
    }
}

.why__are__we {
    
    & > li {

        & > a {

        }
    }


}