<div class="main">
   <div class="container">
      <div class="bg">
         <app-title></app-title>
      </div>
   </div>
</div>

<div class="container">
   <div class="block">
      <div class="block__title">
         <h2>Наша продукция</h2>
      </div>
      
      <div class="block__container">
         <app-card></app-card>
         <app-card></app-card>
         <app-card></app-card>
      </div>
   </div>

   <div class="block">
      <div class="block__title">
         <h2>Почему ЭКА</h2>
      </div>
      
      <div class="block__container">
         <ul class="why__are__we">
            <li>
               <span class="icon"></span>
               <p>Крупнейшее в Западной Сибири предприятие по производству карнизов для штор, комплектующих и декоративной планки.</p>
            </li>
            <li>
               <span class="icon"></span>
               <p>Торгово-выставочное оборудование</p>
            </li>
            <li>
               <span class="icon"></span>
               <p>Собственный запатентованный профиль и все необходимые комплектующие к нему.</p>
            </li>
            <li>
               <span class="icon">Скорость выполнения заказов.</span>
               <p></p>
            </li>
            <li>
               <span class="icon"></span>
               <p>Удобство логистики в любую точку России и СНГ.</p>
            </li>
         </ul>
      </div>
   </div>

</div>



