

.main {
    position: relative;
    background: url(~src/assets/main_bg6.jpg) no-repeat;
    background-size: cover;
    width: auto;
    height: 550px;
}

.bg {
    position: relative;
    height: 550px;
}

.block {
    
    .block__title{
        position: sticky;
        float: left;
        top: 100px;

        padding-right: 15px;
        max-width: 255px;
        margin: 30px;

        font-size: 2rem;
        font-family: 'Exo 2';
        text-align: right;
        border-right: 10px solid #e36d39;

    }

    .block__container{
        display: flex;
        flex-wrap: wrap;
    }
}

.why__are__we {
    
    min-height: 550px;
    
    & > li {

        & > a {

        }
    }


}