
<div class="container">
    <h1>О компании</h1>

<p>
Компания ЭКА - крупнейшее в Западной Сибири предприятие по производству карнизов для штор. Данный факт подтверждает география поставок продукции. Сегодня это - 37 регионов России и страны СНГ.
</p>


<p>
    Наша история началась в 2007 году, когда мы первыми в Западно-Сибирском регионе запустили выпуск потолочных пластиковых карнизов. С тех пор, наша компания стремительно набирает обороты и расширяет своё присутствие на рынке. Свидетельством тому является наше многолетнее партнерство, как с крупными оптовыми компаниями, так и с мелкими предприятиями.
</p>

<p>
Сегодня мы не только подтверждаем свой статус надежного поставщика, но и занимаемся развитием производства по новейшим технологиям. В нашем ассортименте представлены привычные форматы карнизов для штор и модели, которые производятся по собственной запатентованной системе, особенностью которой является количество доборных элементов и их конфигурация (Клеве Люкс).
</p>

Нам есть чем гордиться! Много лет мы работаем над качеством нашей продукции, вкладываем значительные ресурсы в развитие марки ЭКА. Теперь использование нашего товарного знака ЭКА охраняется законом, о чем получено свидетельство №663062.

Полный цикл производства - три самостоятельные карнизные системы, более пятидесяти комплектующих, в том числе декоративная планка.

Наша компания является членом «Ассоциации автоматической идентификации «Юнискан» , полный каталог нашей продукции в формате PDF здесь.

Все это мы ежегодно представляем на нашем стенде в рамках международной выставки MosBild в Экспоцентре г.Москва. Выставка 2015г - (фото)

Выставка 2016г - (фото)


<p>
Карнизный профиль производится из высококачественного сырья, а современные стабилизирующие добавки позволяют сохранять исходное геометрические параметры продукции в течение длительного времени, и обеспечивать ее превосходную белизну и высокую прочность. Для контроля качества вся продукция подвергается периодическим испытаниям в аттестованной лаборатории. С результатами последних испытаний можно ознакомиться здесь.
</p>
</div>